<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot File Upload / Download Rest API Example</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>
<div class="upload-container">
    <div class="upload-header">
        <h2>Spring Boot File Upload / Download Rest API Example</h2>
    </div>
    <div class="upload-content">
        <div class="multiple-upload">
            <h3>Upload Multiple Files</h3>
            <form method="POST" th:action="@{/publishersList/{idUser}/{idAlbum}/addPhoto (idUser = ${user.id}, idAlbum = ${album.id})}" enctype="multipart/form-data">
                <input type="file" name="files" multiple/> <br/><br/>
                <button type="submit">Submit</button>
            </form>
            <div class="upload-response">
                <div id="multipleFileUploadError"></div>
                <div id="multipleFileUploadSuccess"></div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/main.js}" ></script>
</body>
</html>