<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Photo Gallery</title>
</head>
<body>
    <h1>Albums</h1>
    <a href="/newAlbum">Create new album</a>
    <div th:each="album : ${albums}">
        <div class="row">
            <p><a th:href="${(#mvc.url('AC#album').arg(0, album.id).build())}"><span th:text="${album.title} "></span></a></p>
        </div>

    </div>
</body>
</html>