<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>New Album</title>
</head>
<body>
    <h1>New Album</h1>
    <form method="post">
        Title
        <br>
        <input type="text" value="" name="title">
        <br>
        <br>
        Publisher
        <br>
        <input type="file" value="" name="photo" accept="image/*" multiple>
        <br>
        <br>
        <button type="submit">Create</button>
    </form>
</body>
</html>